* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: rgba(237,224,212,1);
  font-family: 'Cinzel', serif;
  color: rgba(65,72,51,1);
}



button {
  font-family: 'Cinzel', serif;
}


.logo {
  width: 150px;
  height: 150px;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header-bar {
  width: 100%;
  height: 100px;
  background: rgba(65,72,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.header-buttons {
  position: absolute;
  left: 80%;
  top: 30%;
}

.book-now-button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  color: rgba(237,224,212,1);
  font-size: 22px;
  font-weight: SemiBold;
  text-align: center;
  border: 2px solid rgba(237,224,212,1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  text-decoration: none;
}

.book-now-button:hover {
  background-color: rgba(237,224,212,1);
  color: rgba(65,72,51,1);
}

.tiktok-button {
  width: 40px;
  height: 40px;
  background: url("../images/tiktok.svg");
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -60px; 
  top: 0;
  z-index: 10;
}

.tiktok-button:hover {
  opacity: 0.7;
}

.instagram-button {
  width: 40px;
  height: 40px;
  background: url("../images/instagram.svg");
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -120px; 
  top: 0;
  z-index: 10;
}

.instagram-button:hover {
  opacity: 0.7;
}


.title-text {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  padding: 40px 0;
  
}

.subtitle {
  width: 100%;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  line-height: .75;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  font-size: 70px;
  opacity: 1;
  text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
}

.cart_image {
  width: 30vw;
  min-width: 300px;
  margin: 0px auto;
}

.cart_image img {
  width: 100%;
  height: auto;
}

.who-we-are {
  padding: 50px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-we-are-container {
  position: relative;
  width: 100%;
  max-width: 4000px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.image-grid img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.center-circle {
  background-color: #3d4a35;
  color: rgba(237,224,212,1);
  text-align: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-circle h2 {
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.center-circle p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.testimonials {
  padding: 20px 2rem;
  text-align: center;
}

.section-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;

}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Cinzel', serif;
}

.testimonial-card {
  text-align: center;
}

.bottom-bar {
  width: 100%;
  height: 130px;
  background: rgba(65,72,51,1);
  text-align: center;
  padding-top: 10px;
}

.contact {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 18px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.info {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 12px;
  padding-bottom: 10px;
}

.sipncoffee {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 14px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 80vh;
  margin: auto;
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  width: 100%;
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 2;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active, .dot:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 800px) {

  .logo {
    width: 120px;
    height: 120px;
    top: 35px;
  }

  .header-bar {
    height: 80px;
  }
  
  .header-buttons {
    position: relative; 
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .socials {
    display: flex;
    order: 1;
  }

  .tiktok-button, .instagram-button {
    position: static; 
    margin: 0 5px;
    left: auto;
    height: 30px;
    width: 30px;
  }

  .book-now-button {
    position: static;
    order: 2;
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .title-text {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 16px;
  }

  .who-we-are {
    padding: 10px 1rem;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .image-grid img:nth-child(n+5) {
    display: none;
  }

  .center-circle {
    width: 45vw;
    height: 45vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .center-circle h2 {
    font-size: 3.5vw;
    margin-bottom: .25rem;
  }

  .center-circle p {
    font-size: 1.7vw;
  }

  .section-title {
    font-size: 30px;
  }
  .testimonial-container {
    grid-template-columns: repeat(1, 1fr);
    font-size: 10px;
  }
}