* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: rgba(237,224,212,1);
  font-family: 'Cinzel', serif;
  color: rgba(65,72,51,1);
}

button {
  font-family: 'Cinzel', serif;
}


.logo {
  width: 150px;
  height: 150px;
  background: url("../images/sip_n_logo_wood.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header-bar {
  width: 100%;
  height: 100px;
  background: rgba(65,72,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.header-buttons {
  position: absolute;
  left: 80%;
  top: 30%;
}

.book-now-button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  color: rgba(237,224,212,1);
  font-size: 22px;
  font-weight: SemiBold;
  text-align: center;
  border: 2px solid rgba(237,224,212,1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.book-now-button:hover {
  background-color: rgba(237,224,212,1);
  color: rgba(65,72,51,1);
}

.tiktok-button {
  width: 40px;
  height: 40px;
  background: url("../images/tiktok.svg");
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -60px; 
  top: 0;
  z-index: 10;
}

.tiktok-button:hover {
  opacity: 0.7;
}

.instagram-button {
  width: 40px;
  height: 40px;
  background: url("../images/instagram.svg");
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -120px; 
  top: 0;
  z-index: 10;
}

.instagram-button:hover {
  opacity: 0.7;
}


.title-text {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  padding: 40px 0;
  
}

.subtitle {
  width: 100%;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  line-height: .75;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  font-size: 70px;
  opacity: 1;
  text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
}

.cart_image {
  width: 30vw;
  min-width: 300px;
  margin: 0px auto;
}

.cart_image img {
  width: 100%;
  height: auto;
}

.who-we-are {
  padding: 50px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-we-are-container {
  position: relative;
  width: 100%;
  max-width: 4000px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.image-grid img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.center-circle {
  background-color: #3d4a35;
  color: rgba(237,224,212,1);
  text-align: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-circle h2 {
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.center-circle p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.testimonials {
  padding: 20px 2rem;
  text-align: center;
}

.section-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;

}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Cinzel', serif;
}

.testimonial-card {
  text-align: center;
}

.bottom-bar {
  width: 100%;
  height: 130px;
  background: rgba(65,72,51,1);
  text-align: center;
  padding-top: 10px;
}

.contact {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 18px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.info {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 12px;
  padding-bottom: 10px;
}

.sipncoffee {
  z-index: 10;
  color: rgba(237,224,212,1);
  font-size: 14px;
}